  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css\style.css">
    img {
  width: 100%;
}
a {
color: #FFFFFF;
text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
color: #FFFFFF;
}
a:hover {
color: #afc6d2;
text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
color: #afc6d2;
}
body {
  background-color: #ffffff;
  font-family: 'Gelasio', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  padding: 0px 130px
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
h5 {
  font-size: .75em;
  font-weight: 400;
  font-style: italic;
}
p {
  padding: 0px 130px;
}
li {
  padding: 0px 130px;
}
picture {
  float: left;
  margin-left: 130px;
  margin-right:20px;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  border: 2px solid #FFFFFF;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 300;
  padding: 2px 15px;
  border-radius: 10px;/
  transition: 0.2s opacity;

  }
.button:hover {
  background-color: #000000;
  color: #FFFFFF;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

   .button.contact {
    background-color: transparent!important;
    color: #000000 !important;
    text-transform: lowercase;
    border: 2px solid #afc6d2 !important!;
    border-radius: 25px
   }
   .button.contact:hover {
    background-color: #000000!important;
    color: #FFFFFF !important;
